In [1]:
from collections import defaultdict
import numpy as np
import pandas as pd
from tqdm import tqdm
from IPython.core.display import display
from sklearn.model_selection import StratifiedKFold
from sklearn.tree import DecisionTreeClassifier

from multi_imbalance.datasets import load_datasets
from multi_imbalance.ensemble.SOUPBagging import SOUPBagging
from multi_imbalance.resampling.SOUP import SOUP
from multi_imbalance.resampling.MDO import MDO
from multi_imbalance.resampling.GlobalCS import GlobalCS

from imblearn.metrics import geometric_mean_score
from imblearn.over_sampling import SMOTE
from multi_imbalance.resampling.spider import SPIDER3

from sklearn.neighbors import KNeighborsClassifier

maj_int_min = {
    'balance_scale' : {
        'maj': [2, 1],
        'int': [],
        'min': [0]
    }, 
    'cleveland': {
        'maj': [0],
        'int': [1],
        'min': [2,3,4]
    }, 
    'cmc': {
        'maj': [0],
        'int': [2],
        'min': [1]
    }, 
    'dermatology': {
        'maj': [0],
        'int': [2,1,4,3],
        'min': [5]
    }, 
    'ecoli': {
        'maj': [0,1],
        'int': [7,4,5],
        'min': [6,3,2]
    }, 
    'glass': {
        'maj': [1,0],
        'int': [5],
        'min': [2,3,4]
    }, 
    'hayes_roth': {
        'maj': [0,1],
        'int': [],
        'min': [2]
    }, 
    'new_thyroid': {
        'maj': [0],
        'int': [],
        'min': [1,2]
    }, 
    'winequailty_red': {
        'maj': [2,3],
        'int': [4],
        'min': [1,5,0]
    }, 
    'yeast': {
        'maj': [0,7],
        'int': [6, 5],
        'min': [4,3,2,9,8,1]
    }
}
from IPython.display import clear_output
clear_output(wait=True)

Using TensorFlow backend.
/home/plutasnyy/git/multi-imbalance/venv/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/plutasnyy/git/multi-imbalance/venv/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/plutasnyy/git/multi-imbalance/venv/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/plutasnyy/git/multi-imbalance/venv/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/plutasnyy/git/multi-imbalance/venv/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/plutasnyy/git/multi-imbalance/venv/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/plutasnyy/git/multi-imbalance/venv/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/plutasnyy/git/multi-imbalance/venv/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/plutasnyy/git/multi-imbalance/venv/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/plutasnyy/git/multi-imbalance/venv/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/plutasnyy/git/multi-imbalance/venv/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/plutasnyy/git/multi-imbalance/venv/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
def resample_data(resample, seed, X_train, y_train, no_classes, dataset_name):
    if resample == 'base':
        X_train_resampled, y_train_resampled = X_train, y_train
    elif resample=='soup':
        soup = SOUP()
        X_train_resampled, y_train_resampled = soup.fit_transform(np.copy(X_train), np.copy(y_train))
    elif resample=='global':
        global_cs = GlobalCS()
        X_train_resampled, y_train_resampled = global_cs.fit_transform(np.copy(X_train), np.copy(y_train), shuffle=False)
    elif resample=='smote':
        smote = SMOTE(random_state=seed)
        X_train_resampled, y_train_resampled = smote.fit_sample(np.copy(X_train), np.copy(y_train))
    elif resample=='mdo':
        mdo = MDO(k=9, k1_frac=0.1, seed=seed)
        X_train_resampled, y_train_resampled = mdo.fit_transform(np.copy(X_train), np.copy(y_train))
    elif resample=='spider':
        cost = np.ones((no_classes, no_classes))
        np.fill_diagonal(cost, 0)
        clf = SPIDER3(k=5, cost=cost, majority_classes=maj_int_min[dataset_name]['maj'], intermediate_classes=maj_int_min[dataset_name]['int'], minority_classes=maj_int_min[dataset_name]['min'])
        X_train_resampled, y_train_resampled = clf.fit_transform(X_train.astype(np.float64), y_train)
    elif 'soupbg' in resample:
        # SOUP Bagging does it by itself
        X_train_resampled, y_train_resampled = X_train, y_train
    return X_train_resampled, y_train_resampled


def test_resampling(classifier, res, dataset_values, dataset_name):
    X, y = dataset_values.data, dataset_values.target
    no_classes = np.unique(y).size
    result_data = defaultdict(int)
    run_data = defaultdict(lambda: defaultdict(list)) # {metric: {run_number: [scores]}}
    for i in range(10):
        skf = StratifiedKFold(n_splits=5, shuffle=True,random_state=i)
        for train_index, test_index in skf.split(X, y):
            X_train, X_test = X[train_index], X[test_index]
            y_train, y_test = y[train_index], y[test_index]
            
            X_train_resampled, y_train_resampled = resample_data(res, i, X_train, y_train, no_classes, dataset_name)
            
            if classifier == 'knn':
                clf = KNeighborsClassifier(n_neighbors=5)
            elif classifier == 'tree':
                clf = DecisionTreeClassifier(random_state=i)
                
            # DONT JUDGE ME
            if res == 'soupbg005':
                vote_classifier = SOUPBagging(clf, n_classifiers=5)
                clf = vote_classifier
            elif res == 'soupbg015':
                vote_classifier = SOUPBagging(clf, n_classifiers=15)
                clf = vote_classifier
            elif res == 'soupbg030':
                vote_classifier = SOUPBagging(clf, n_classifiers=30)
                clf = vote_classifier
            elif res == 'soupbg050':
                vote_classifier = SOUPBagging(clf, n_classifiers=50)
                clf = vote_classifier
            elif res == 'soupbg100':
                vote_classifier = SOUPBagging(clf, n_classifiers=100)
                clf = vote_classifier
            clf.fit(X_train_resampled, y_train_resampled)
            y_pred = clf.predict(X_test)
            gmean = geometric_mean_score(y_test, y_pred, correction=0.001)
            run_data['g_mean'][str(i)].append(gmean)
    
    def get_score_from_metric(run_data, metric):
        runs = run_data[metric]
        runs_scores_list = list(runs.values()) #[[one run k-foledscores],[..]]
        result = np.mean(list(map(np.mean, runs_scores_list)))
        return result
            
    result_data['g_mean'] = get_score_from_metric(run_data, 'g_mean')
    return result_data

In [3]:
def provide_test_and_get_scores(datasets, clf):
    scores = defaultdict(dict)
    for dataset_name, dataset_values in tqdm(datasets.items(),total=len(datasets)):
        clf_res_names =['base','global','smote','mdo','soup','soupbg005','soupbg015','soupbg030', 'soupbg050', 'soupbg100']
        for resample in clf_res_names:
            result_data = test_resampling(clf, resample, dataset_values, dataset_name)
            scores[dataset_name][resample] = round(result_data['g_mean'],3)
    return scores

In [4]:
def print_scores(scores, only_read_dt = False):
    display("G-MEAN")
    df = pd.DataFrame(scores).T
    if only_read_dt:
        df = df.iloc[4:]
    display(df)
    
    # df.fillna(df.median(), inplace=True)
    display(pd.DataFrame(df.mean().sort_values(ascending=False),columns=['Mean G-mean']))
    display(pd.DataFrame(df.rank(axis=1,ascending=False).mean().sort_values(),columns=['Mean rank']))

In [5]:
datasets = load_datasets()

Testy dla drzewa,
Wszystkie zbiory danych:

In [6]:
score = provide_test_and_get_scores(datasets, 'tree')
print_scores(score)

100%|██████████| 17/17 [20:37<00:00, 72.79s/it]

'G-MEAN'

,base,global,smote,mdo,soup,soupbg005,soupbg015,soupbg030,soupbg050,soupbg100
1czysty-cut,0.939,0.946,0.955,0.965,0.957,0.946,0.946,0.957,0.953,0.958
2delikatne-cut,0.698,0.699,0.744,0.772,0.795,0.776,0.776,0.791,0.797,0.800
3mocniej-cut,0.492,0.482,0.496,0.585,0.578,0.563,0.563,0.591,0.598,0.603
4delikatne-bezover-cut,0.771,0.768,0.815,0.830,0.894,0.884,0.884,0.883,0.887,0.890
balance-scale,0.154,0.123,0.168,0.162,0.609,0.522,0.522,0.582,0.615,0.619
cleveland,0.127,0.096,0.142,0.098,0.114,0.114,0.114,0.119,0.114,0.118
cleveland_v2,0.113,0.110,0.129,0.090,0.162,0.177,0.177,0.149,0.173,0.162
cmc,0.440,0.451,0.444,0.439,0.471,0.465,0.466,0.490,0.500,0.504
dermatology,0.925,0.940,0.946,0.948,0.930,0.924,0.924,0.949,0.956,0.959
glass,0.463,0.486,0.554,0.598,0.592,0.516,0.516,0.578,0.616,0.639
hayes-roth,0.837,0.843,0.841,0.842,0.835,0.767,0.777,0.811,0.825,0.837
new_ecoli,0.708,0.707,0.723,0.758,0.696,0.700,0.700,0.728,0.722,0.724
new_led7digit,0.754,0.757,0.762,0.753,0.759,0.737,0.734,0.754,0.763,0.763
new_vehicle,0.900,0.894,0.890,0.899,0.887,0.876,0.876,0.903,0.913,0.915
new_winequality-red,0.429,0.407,0.466,0.465,0.446,0.433,0.433,0.457,0.462,0.481
new_yeast,0.250,0.240,0.323,0.293,0.291,0.291,0.291,0.315,0.322,0.346
thyroid-newthyroid,0.900,0.901,0.918,0.936,0.912,0.883,0.883,0.908,0.909,0.904

           Mean G-mean
soupbg100     0.660118
soupbg050     0.654412
soupbg030     0.645000
soup          0.642824
soupbg015     0.622471
soupbg005     0.622000
mdo           0.613706
smote         0.606824
base          0.582353
global        0.579412

           Mean rank
soupbg100   2.147059
soupbg050   3.352941
soupbg030   4.352941
soup        5.029412
smote       5.058824
mdo         5.176471
soupbg015   7.117647
soupbg005   7.176471
base        7.705882
global      7.882353

Drzewo, tylko rzeczywiste zbiory danych:

In [7]:
print_scores(score,only_read_dt=True)

'G-MEAN'

,base,global,smote,mdo,soup,soupbg005,soupbg015,soupbg030,soupbg050,soupbg100
balance-scale,0.154,0.123,0.168,0.162,0.609,0.522,0.522,0.582,0.615,0.619
cleveland,0.127,0.096,0.142,0.098,0.114,0.114,0.114,0.119,0.114,0.118
cleveland_v2,0.113,0.110,0.129,0.090,0.162,0.177,0.177,0.149,0.173,0.162
cmc,0.440,0.451,0.444,0.439,0.471,0.465,0.466,0.490,0.500,0.504
dermatology,0.925,0.940,0.946,0.948,0.930,0.924,0.924,0.949,0.956,0.959
glass,0.463,0.486,0.554,0.598,0.592,0.516,0.516,0.578,0.616,0.639
hayes-roth,0.837,0.843,0.841,0.842,0.835,0.767,0.777,0.811,0.825,0.837
new_ecoli,0.708,0.707,0.723,0.758,0.696,0.700,0.700,0.728,0.722,0.724
new_led7digit,0.754,0.757,0.762,0.753,0.759,0.737,0.734,0.754,0.763,0.763
new_vehicle,0.900,0.894,0.890,0.899,0.887,0.876,0.876,0.903,0.913,0.915
new_winequality-red,0.429,0.407,0.466,0.465,0.446,0.433,0.433,0.457,0.462,0.481
new_yeast,0.250,0.240,0.323,0.293,0.291,0.291,0.291,0.315,0.322,0.346
thyroid-newthyroid,0.900,0.901,0.918,0.936,0.912,0.883,0.883,0.908,0.909,0.904

           Mean G-mean
soupbg100     0.613154
soupbg050     0.606923
soupbg030     0.595615
soup          0.592615
soupbg015     0.570231
soupbg005     0.569615
smote         0.562000
mdo           0.560077
base          0.538462
global        0.535000

           Mean rank
soupbg100   2.346154
soupbg050   3.384615
smote       4.384615
soupbg030   4.423077
mdo         5.307692
soup        5.615385
base        7.153846
soupbg015   7.423077
global      7.461538
soupbg005   7.500000

Testy dla knn,
Wszystkie zbiory danych:

In [8]:
score = provide_test_and_get_scores(datasets, 'knn')
print_scores(score)

100%|██████████| 17/17 [23:19<00:00, 82.33s/it]

'G-MEAN'

,base,global,smote,mdo,soup,soupbg005,soupbg015,soupbg030,soupbg050,soupbg100
1czysty-cut,0.971,0.975,0.978,0.977,0.947,0.951,0.951,0.952,0.952,0.953
2delikatne-cut,0.704,0.760,0.761,0.801,0.789,0.788,0.787,0.785,0.785,0.787
3mocniej-cut,0.466,0.523,0.498,0.599,0.556,0.560,0.567,0.565,0.559,0.556
4delikatne-bezover-cut,0.812,0.852,0.861,0.875,0.889,0.884,0.888,0.891,0.891,0.891
balance-scale,0.193,0.267,0.420,0.684,0.679,0.646,0.661,0.682,0.692,0.700
cleveland,0.020,0.134,0.129,0.066,0.120,0.102,0.127,0.126,0.115,0.115
cleveland_v2,0.009,0.183,0.233,0.056,0.191,0.166,0.167,0.176,0.158,0.191
cmc,0.482,0.476,0.481,0.479,0.511,0.481,0.496,0.504,0.509,0.516
dermatology,0.843,0.849,0.849,0.854,0.815,0.776,0.804,0.815,0.822,0.822
glass,0.201,0.625,0.621,0.499,0.607,0.541,0.557,0.577,0.575,0.604
hayes-roth,0.559,0.614,0.627,0.611,0.616,0.562,0.613,0.625,0.640,0.640
new_ecoli,0.814,0.775,0.807,0.824,0.814,0.793,0.790,0.806,0.815,0.813
new_led7digit,0.757,0.441,0.727,0.774,0.747,0.751,0.752,0.759,0.754,0.755
new_vehicle,0.849,0.863,0.859,0.852,0.819,0.797,0.808,0.815,0.820,0.822
new_winequality-red,0.101,0.382,0.393,0.175,0.385,0.345,0.354,0.365,0.373,0.379
new_yeast,0.262,0.378,0.395,0.321,0.406,0.352,0.377,0.402,0.420,0.405
thyroid-newthyroid,0.821,0.936,0.920,0.902,0.898,0.853,0.858,0.874,0.881,0.894

           Mean G-mean
soupbg100     0.637824
soup          0.634647
soupbg050     0.633000
soupbg030     0.630529
smote         0.621118
soupbg015     0.621000
mdo           0.608765
soupbg005     0.608706
global        0.590176
base          0.521412

           Mean rank
soupbg100   3.882353
smote       4.529412
soupbg050   4.558824
soup        4.647059
mdo         5.000000
soupbg030   5.029412
global      5.500000
soupbg015   6.411765
soupbg005   7.529412
base        7.911765

knn (k=5), tylko rzeczywiste zbiory danych:

In [9]:
print_scores(score,only_read_dt=True)

'G-MEAN'

,base,global,smote,mdo,soup,soupbg005,soupbg015,soupbg030,soupbg050,soupbg100
balance-scale,0.193,0.267,0.420,0.684,0.679,0.646,0.661,0.682,0.692,0.700
cleveland,0.020,0.134,0.129,0.066,0.120,0.102,0.127,0.126,0.115,0.115
cleveland_v2,0.009,0.183,0.233,0.056,0.191,0.166,0.167,0.176,0.158,0.191
cmc,0.482,0.476,0.481,0.479,0.511,0.481,0.496,0.504,0.509,0.516
dermatology,0.843,0.849,0.849,0.854,0.815,0.776,0.804,0.815,0.822,0.822
glass,0.201,0.625,0.621,0.499,0.607,0.541,0.557,0.577,0.575,0.604
hayes-roth,0.559,0.614,0.627,0.611,0.616,0.562,0.613,0.625,0.640,0.640
new_ecoli,0.814,0.775,0.807,0.824,0.814,0.793,0.790,0.806,0.815,0.813
new_led7digit,0.757,0.441,0.727,0.774,0.747,0.751,0.752,0.759,0.754,0.755
new_vehicle,0.849,0.863,0.859,0.852,0.819,0.797,0.808,0.815,0.820,0.822
new_winequality-red,0.101,0.382,0.393,0.175,0.385,0.345,0.354,0.365,0.373,0.379
new_yeast,0.262,0.378,0.395,0.321,0.406,0.352,0.377,0.402,0.420,0.405
thyroid-newthyroid,0.821,0.936,0.920,0.902,0.898,0.853,0.858,0.874,0.881,0.894

           Mean G-mean
soupbg100     0.588923
soup          0.585231
soupbg050     0.582615
soupbg030     0.578923
smote         0.573923
soupbg015     0.566462
soupbg005     0.551154
mdo           0.545923
global        0.532538
base          0.454692

           Mean rank
soupbg100   3.692308
smote       3.923077
soup        4.346154
soupbg050   4.423077
global      4.961538
soupbg030   5.192308
mdo         5.692308
soupbg015   6.846154
base        7.730769
soupbg005   8.192308